/* .section-quotaion */
.section-quotaion {
	padding-right: 124px;
	padding-left: 74px;
	.top-bar {
		padding-bottom: 10px;
		.back-link {
			font-size: 12px;
			.icons-icon-backs {
				background: url(../../assets/i/icon-back.svg) no-repeat;
				width: 6px;
				height: 9px;
				background-size: 6px auto;
				display: inline-block;
				vertical-align: middle;
				margin: -3px 5px 0 0;
			}
		}
		
	}
	.title-bar {
		padding: 20px 0;
		border-bottom: 1px solid #939598;
		.titles {
		  	font-size: 18px;
		  	font-weight: 900;
		  	text-align: left;
		  	color: #666;
		  	line-height: 22px;
		}
	}
	.tab-new {
		width: 200px;
		margin: 0 auto;
		margin-top: 15px;
		li {
			float: left;
			width: 50%;
			a {
				padding: 0 20px;
				color: #c5c5c5;
				font-size: 15px;
				height: 50px;
				text-align: center;
				display: block;
				line-height: 50px;
				position: relative;
				border-bottom: 4px solid #d2e5fa;
			}
			&.current {
				a {
					color: #666;
					border-bottom: 4px solid #00519e;
				}
			}
		}
	}
}

/* .quotation-step-content */
.quotation-step-content {
	.step-boxs {
		padding-top: 50px;
		.left-car {
			float: left;
			padding-left: 120px;
			text-align: center;
			.car-img {
				img {
					width: 400px;
					height: 170px;
				}
				.mt70 {
					margin-top: 73px;
				}
			}
			.name-price {
				margin-top: 20px;
				font-size: 18px;
				.blue-txt {
					color: #00519e;
				}
				.gray-txt {
					color: #939598;
				}
			}
		}
		.right-form {
			padding-left: 625px;
			.form-row {
				margin-bottom: 11px;
				.title {
					line-height: 13px;
				  	font-size: 11px;
				  	font-weight: 900;
				  	color: #666;
				  	.red {
				  		color: #f86708;
				  		padding-left: 3px;
				  	}
				}
			}
			.inputs {
			  width: 200px;
			  padding: 0;
			  input {
			    color: #95989a;
			  }
			}
		}
		.select-table {
			.row {
				min-height: 79px;
				display: table;
				width: 100%;
				border-bottom: 1px solid #c0c6cb;
			}
			.blue-plan-label {
			  font-size: 16px;
			  color: #2c67ba;
			  padding-left: 35px;
			}
			.radio-wrap label::before {
			  bottom: 0px;
			}
			.col-cell {
				display: table-cell;
				vertical-align: middle;
				padding: 18px 0px;
				&.width18 {
					width: 18%;
				}
				&.width25 {
					width: 25%;
				}
				&.width34 {
					width: 34%;
				}
				&:first-child {
					.spacing {
						padding-left: 0;
					}
				}
				.spacing {
					padding: 0 15px;
				}
				.top-txt {
					font-size: 12px;
				  	font-weight: 900;
				  	color: #939395;
				  	line-height: 15px;
					margin-bottom: 10px;
				}
				.values {
					line-height: 18px;
				  	font-size: 15px;
				  	color: #646d74;
				  	position: relative;
				  	display: inline-block;
				  	.top-left {
					    position: absolute;
					    left: -6px;
					  	top: -1px;
					    font-size: 8px;
					}
					.top-right {
						position: absolute;
					  	right: -17px;
						top: -2px;
						font-size: 8px;
						color: #646d74;
					}
				}
			}
			.checkbox-wrap {
				input[type="checkbox"] + label {
					color: #2c67ba;
					font-size: 16px;
					text-transform: uppercase;
					padding-left: 28px;
				}
				label::before {
					margin-right: 20px;
					vertical-align: top;
					border-radius: 100%;
					margin-top: 2px;
				}
				input[type="checkbox"]:checked + label::before {
				    background: url(../../assets/i/circle-checked.svg) center center no-repeat;
				    background-size: 16px;
				    height: 16px;
				}
			}
		}
	}
	.item {
		.btn-group {
			margin-top: 60px;
		}
		.title-bar {
			.right-txt {
				float: right;
			  	font-size: 14px;
			  	font-weight: 900;
			  	color: #656565;
			  	.status {
			  		padding-left: 2px;
			  	}
			}
		}
	}
}


/* .quotation-step-one */
.quotation-step-one {
	.name-two {
		display: block;
	}
	.name-one {
		display: none;
	}
	&.no-choose {
		.step-zero {
			display: block;
		}
		.step-one {
			display: none;
		}
		.name-price {
			&.name-one {
				display: block;
			}
			&.name-two {
				display: none;
			}
			.blue-txt {
				font-size: 14px;
				display: block;
				margin-bottom: 8px;
				font-weight: bold;
			  	color: #00519e;
			}
			.gray-txt {
				font-size: 14px;
			  	text-align: center;
			  	color: #797979;
			  	line-height: 17px;
			}
		}
	}
	
}


/* .quotation-step-three */
.quotation-step-three {
	.step-boxs {
		.left-car {
			padding-left: 0;
			padding-top: 30px;
			width: 264px;
			float: left;
			min-height: 704px;
			.car-img {
				img {
					width: 264px;
  					height: 120px;
				}
			}
			.result-boxs {
				text-align: left;
				display: block;
				margin-top: 20px;
				padding: 15px 10px;
				margin-bottom: -15px;
				&.blue-bg {
					background-color: #e9eef4;
				}
				.titles {
			    	font-size: 16px;
				    color: #00366d;
				    line-height: 19px;
				    margin-bottom: 19px;
				    &.terms-label {
			      		font-size: 12px;
				    }
				}
				.row {
					.col-left {
						float: left;
						font-size: 11px;
						color: #797979;
						margin-bottom: 10px;
					}
					.col-right {
						float: right;
						line-height: 15px;
					 	font-size: 11px;
						color: #0066ad;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
	.step-boxs  {
		.right-form {
			padding-left: 35px;
			margin: auto;
		}
	}
	.right-form {
		overflow: hidden;
		&.quation-section {
			.step {
				.step-section {
					.title {
						margin-left: 0;
						margin-right: 0;
					}
					.quation-items {
						.vap-items {
							width: 33%;
							float: left;
							ul {
								li {
									float: none;
									width: 100%;
									height: 30px;
								}
							}
						}
						margin: 0 0 0 30px;
						li {
							&>label {
								padding-right: 40px;
							}
							width: 33.33%;
							padding-right: 0;
							.dropdown-default {
							  	margin-right: 25px;
								width: auto;
							}
							.inputs {
								margin-right: 25px;
								width: auto;
								&.mr30 {
									margin-right: 70px;
								}
							}
							.checkbox-wrap {
								&.after-input {
									display: inline-block;
									position: absolute;
									top: 17px;
									right: 20px;
									input[type="checkbox"] + label {
										padding-right: 25px;
										font-size: 12px;
									}
									label::before {
										left: auto;
										right: 0;
									}
								}
							}
						}
					}

					.vaps-contents {
					    margin-bottom: 15px;
					    margin-top: 10px;
					    .blue-title {
						  	line-height: 18px;
						  	font-size: 15px;
						  	font-weight: 900;
						  	color: #00366d;
						  	margin-bottom: 20px;
					    }
					    .col {
					    	width: 33.33333333%;
					    }
					    .left-boxs {
						    float: left;
						    ul {
						    	li {
						    		height: 35px;
						    	}
						    }
						    li {
							    float: none;
							    width: auto;
							    height: 35px;
						    }
					    }
					    .center-boxs {
						    float: left;
						    margin-top: -3px;
						    li {
							    float: none;
							    width: auto;
							    padding-right: 49px;
							    height: 35px;
							    &.no-add-btn {
							      padding-right: 25px;
							    }
						    }
					    }
					    .right-boxs {
						    float: left;
						    li {
							    float: none;
							    width: auto;
						    }
						    .blue-title {
						    	.lefts {
						    		float: left;
						    	}
						    	.rights {
						    		float: right;
						    	}
						    }
						    .row {
						    	margin-bottom: 12px;
				    			min-height: 35px;
						    }
						    .vap-items { 
						    	width: 100%;
						    }
					    }
					    .arrow-right,.arrow-left {
						    width: 20%;
						    float: left;
						    height: 23px;
						    display: block;
						    i {
						      	width: 23px;
						      	height: 23px;
						      	margin: 6px auto 0;
						      	display: block;
						      	cursor: pointer;
							    &:hover {
									opacity: 0.75;
							    }
						    }
					    }
					    .arrow-left i{
						    background: url("../../assets/i/button-left.svg");
						    background-size: 100%;
					    }
					    .arrow-right i {
						    background: url("../../assets/i/button-right.svg");
						    background-size: 100%;
					    }
					    
					.vap-items {
					    &>li {
						    margin-bottom: 0;
					    }
					    .width40 {
						    width: 40%;
						    float: left;
					    }
					    .vap-total {
						    background: #e9eef4;
						    height: 32px;
						    margin-top: 10px;
						    position: relative;
						    span {
						      width: 35%;
						      float: left;
						      font-size: 15px;
						      color: #95989a;
						      line-height: 32px;
						      text-align: center;
						      &.margin-right {
							      margin-right: 30%;
						      }
						    }
					    }
					    .total-amout {
						    position: absolute;
						    left: -90px;
						    top: 50%;
						    margin-top: -16px;
						    line-height: 32px;
						    font-size: 12px;
						    font-weight: 900;
						    color: #95989a;
					    }
					    .add-btn {
						    top: 9px;
					    }
					    .checkbox-wrap {
					    		&.disabled {
								  label::before {
									  background-color: #dbdbdb;
								  }
								  label {
								    cursor: default;
								  }
							  }
						    input[type="checkbox"] + label {
						      font-size: 12px;
						      font-weight: 900;
						      color: #95989a;
						      line-height: 19px;
						      height: 22px;
						      margin-top: 8px;
						      margin-bottom: -20px;
						    }
						    em {
						      font-size: 12px;
						      font-weight: 900;
						      color: #fb7d00;
						    }
						    &>label::before {
						      content: "";
						      display: inline-block;
						      width: 16px;
						      height: 16px;
						      background-color: #d2e3f8;
						      vertical-align: middle;
						      margin-right: 5px;
						      -webkit-box-sizing: border-box;
						    }
					    }
					    
					  }
				  	}
				}
			}
		}	
	}
	.btn-group-row {
		.btn {
			&.btn-previous {
				margin-right: 0;
			}
		}
	}
}

/* .btn-group-row */
.btn-group-row {
	margin-top: 50px;
	margin-right: -48px;
	.btn {
		font-weight: normal;
		&.btn-green {
			min-width: 86px;
			margin-right: 18px;
		}
		&.btn-next {
			margin-left: 0;
		}
	}
	.right-btn {
		float: right;
		.btn {
			margin-left: 10px;
			float: left;
			&.first-child {
				margin-left: 0;
			}
			&.width131 {
				min-width: 111px;
			}
			&.width135 {
				min-width: 115px;
			}
			&.width120 {
				min-width: 100px;
			}
			&.width149 {
				min-width: 129px;
			}
			&.width140 {
				min-width: 120px;
			}
		}
	}
}

/* .quation-section  */
.quation-section {
	margin: 9px 100px 0 20px;
    	.step {
	    .step-section {
		    margin-bottom: 18px;
		    .title {
		      	font-family:"LatoRegular";
		      	font-size: 18px;
		      	font-weight: 900;
		      	color: #0066ad;
		      	line-height: 22px;
		      	padding-bottom: 6px;
		      	border-bottom: solid 2px #00519d;
		      	margin: 0 42px 15px;
		      	background-size: 8px 5px;
		      	padding-left: 30px;
		      	position: relative;
		      	.btn-status {
		      		background: url(../../assets/i/icon-dropup.svg) 3px 12px no-repeat;
		      		width: 20px;
		      		height: 30px;
		      		background-size: 8px auto;
		      		display: inline-block;
		      		position: absolute;
		      		left: 0;
		      		top: 0;
		      		cursor: pointer;
		      	}
		    }
		    /* .step-section */
			&.open {
				.title {
					.btn-status {
						background: url(../../assets/i/icon-dropdown-default.svg) 3px 12px no-repeat;
					}
				}
				.quation-items {
					display: block;
				}
			}
		    .quation-items {
		      margin: 0 42px;
		      box-sizing: border-box;
		      display: none;
		      li {
			      width: 23.2%;
			      height: 49px;
			      float: left;
			      padding-right: 2.4%;
			      margin-bottom: 12px;
			      position: relative;
			      &:nth-child(4n+4) {
			        padding-right: 0;
			      }
			      &>label {
			        font-size: 12px;
			        font-weight: 900;
			        text-align: left;
			        color: #95989a;
			        display: block;
			        line-height: 13px;
			        overflow: hidden;
			        height: 13px;
			        em {
				        color: #f86708;
				        padding: 0 7px 0 3px;
			        }
			        &::before {
				        display: none;
			        }
			        i {
				        display: inline-block;
				        width: 15px;
				        height: 13px;
				        background: url("../../assets/i/warning.svg");
				        background-size: 15px 13px;
				        vertical-align: middle;
			        }
			      }
			      .inputs {
			        margin-top: 3px;
			        width: 100%;
			        height: 32px;
			        font-size: 15px;
			        border-bottom: solid 0.5px #c0c6cb;
			        padding: 0;
			        input {
				      height: 35px;
				      line-height: 32px;
				      font-size: 15px;
				      color: #95989a;
			        }
			      }
			      .control-input {
			        margin-top: 3px;
			        width: 100%;
			        height: 30px;
			        line-height: 30px;
			        font-size: 15px;
			        border: none;
			        font-family: 'LatoRegular';
			        border-bottom: solid 1px #c0c6cb;
			        outline: none;
			        color: #95989a;
			        &::-webkit-input-placeholder {
					      color: #9b9b9b;
					    }
					    &:-moz-placeholder {
					      color: #9b9b9b;
					    }
					    &::-moz-placeholder {
					      color: #9b9b9b;
					      opacity: 1;
					    }
					    &:-ms-input-placeholder {
					      color: #9b9b9b;
					    }
			        }
			      .dropdown-default {
			        margin-top: 5px;
			        width: 100%;
			        height: 30px;
			        line-height: 30px;
			        font-size: 15px;
			        border: none;
			        font-family: 'LatoRegular';
			        border-bottom: solid 1px #c0c6cb;
			        outline: none;
			        .dropdown-txt {
				        background: transparent;
				        height: 30px;
				        line-height: 30px;
				        padding: 0;
				        display: block;
				        width: 100%;
				        color: #95989a;
				        .icon-arrow-down {
				          top: 40%;
				        }
			        }
			      }
			      .group {
			        margin-top: 3px;
			        height: 30px;
			        overflow: hidden;
			        width: 100%;
			        .radio-wrap,.checkbox-wrap {
				      float: left;
				      margin-top: 10px;
				      margin-right: 18px;
			        }
			      }
			      .add-btn {
			        display: block;
			        position: absolute;
			        right: 7%;
			        top: 9px;
			        width: 27px;
			        height: 27px;
			        background: #fff;
			        &.hide {
			          display: none;
			        }
			        span {
				        display: block;
				        width: 23px;
				        height: 23px;
				        background: #0066ad;
				        border-radius: 4px;
				        text-align: center;
				        line-height: 21px;
				        color: #fff;
				        font-size: 22px;
				        font-weight: bold;
			        }
			      }
		      }
		      .vap-content {
			      margin-bottom: 15px;
			      .left-boxs {
				      width: 30%;
				      float: left;
				      li {
					      float: none;
					      width: auto;
					      height: 30px;
				      }

			      }

			    .center-boxs {
				    width: 30%;
				    float: left;
				    li {
					    float: none;
					    width: auto;
					    padding-right: 49px;
					    &.no-add-btn {
					      padding-right: 30px;
					    }
				    }
			    }
			    .right-boxs {
				    width: 30%;
				    float: left;
				    li {
					    float: none;
					    width: auto;
				    }
			    }
			    .vap-title span{
			      font-size: 15px;
			      font-weight: 900;
			      color: #00366d;
			      height: 18px;
			      line-height: 18px;
			      margin-bottom: 30px;
			      width: 23.2%;
			      float: left;
			      display: block;
			      padding-right: 2.4%;
			      em {
				      width: 35%;
				      display: block;
				      float: left;
				      font-style: normal;
				      &.margin-right {
				        margin-right: 30%;
				      }
			      }
			    }
			    .vap-items {
			      &>li {
				      margin-bottom: 0;
			      }
			      .width40 {
				      width: 69px;
				      float: left;
			      }
			      .vap-total {
				      background: #e9eef4;
				      height: 32px;
				      margin-top: 10px;
				      span {
				        width: 35%;
				        float: left;
				        font-size: 15px;
				        color: #95989a;
				        line-height: 32px;
				        text-align: center;
				        &.margin-right {
					      margin-right: 30%;
				        }
				      }
			      }
			      .total-amout {
				      position: absolute;
				      left: -90px;
				      top: 50%;
				      margin-top: -16px;
				      line-height: 32px;
				      font-size: 12px;
				      font-weight: 900;
				      color: #95989a;
			      }
			      .add-btn {
				      top:9px;
			      }
			      .checkbox-wrap {
			      		&.disabled {
						label::before {
							background-color: #dbdbdb;
						}
					}
				      input[type="checkbox"] + label {
				        font-size: 12px;
				        font-weight: 900;
				        color: #95989a;
				        line-height: 30px;
				        height: 30px;
				        margin-top: 8px;
				        margin-bottom: -20px;
				      }
				      em {
				        font-size: 12px;
				        font-weight: 900;
				        color: #fb7d00;
				      }
				      &>label::before {
				        content: "";
				        display: inline-block;
				        width: 16px;
				        height: 16px;
				        background-color: #d2e3f8;
				        vertical-align: middle;
				        margin-right: 5px;
				        -webkit-box-sizing: border-box;
				      }
			      }
			      .arrow-right,.arrow-left {
				      width: 30%;
				      float: left;
				      height: 23px;
				      display: block;
				      i {
				        width: 23px;
				        height: 23px;
				        margin: 9px auto 0;
				        display: block;
				      }
			      }
			      .arrow-left i{
				      background: url("../../assets/i/button-left.svg");
				      background-size: 100%;
			      }
			      .arrow-right i {
				      background: url("../../assets/i/button-right.svg");
				      background-size: 100%;
			      }
			    }
		    }
		  }
		  .quation-table {
		    margin: 0 42px;
		    border: solid 1px #e4e6eb;
		    table {
			    border-collapse: collapse;
			    width: 100%;
			    th {
			      background: #e0e0e0;
			      height: 52px;
			      line-height: 52px;
			      padding: 0 15px;
			      font-size: 12px;
			      font-weight: 900;
			      color: #666666;
			      text-align: left;
			      &:last-child {
				    width: 18%;
			      }
			    }
			    td {
			      font-size: 15px;
			      color: #717171;
			      line-height: 51px;
			      padding: 0 15px;
			      border-bottom: solid 1px #e4e6eb;
			    }
			    tr:nth-child(odd) {
			      background: #e4e6eb;
			    }
		    }
		  }
		  .decision-items {
		    margin: 15px 42px;
		    li {
			    height: 52px;
			    background-color: #fbfbfb;
			    margin-bottom: 7px;
			    padding: 0 23px;
			    span {
			      display: block;
			      float: left;
			      font-size: 15px;
			      line-height: 52px;
			      height: 52px;
			      color: #797979;
			      &.width16 {
				    width: 16%;
			      }
			      &.width36 {
				    width: 36%;
			      }
			      &.color-blue {
				    color: #0066ad;
			      }
			    }
		    }
		  }
	  }
	}
}

/* .search-boxs  */
.search-boxs {
	float: left;
	padding-right: 20px;
	/* .search */
	.search {
		width: 300px;
		position: relative;
	.inputs {
		background: #fff;
		height: 39px;
		padding: 0 8px 0 42px;
		display: block;
		border-radius: 4px;
		border-bottom: 2px solid #e6e6e6;
		position: relative;
		input {
			font-size: 14px;
			color: #a3a4a5;
			background: none;
			border: none;
			outline: none;
			width: 100%;
			height: 40px;
			line-height: 22px;
		}
  	}
	.icon-search {
		background: #fff url(../../assets/i/icon-input-search.svg) center center no-repeat;
		background-size: 17px auto;
		width: 32px;
		height: 32px;
		display: block;
		top: 3px;
		left: 5px;
		position: absolute;
	}
	&.open {
		.inputs {
			border-bottom-left-radius: 0;
			border-bottom-right-radius: 0;
		}
		  .search-tip {
			  display: block;
		  }
	}
	}
}

/* .modal.modal-default */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    outline: 0;
    &.modal-default {
	    z-index: 9999;
	}
}
.modal-backdrop.in {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.2);
}
.modal-default {
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	&.hide {
		display: none;
	}
	.modal-dialog {
	    width: 876px;
	    margin: auto;
	}
	.modal-content {
        background: none;
        box-shadow: none;
        border: none;
        border-radius: 0;
        margin: auto;
    }
    .modal-header {
        height: 40px;
        position: relative;
        border: none;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        padding: 0;
        background-color: #fff;
        .modal-title {
            color: #666;
            font-size: 14px;
            line-height: 62px;
            text-indent: 30px;
        }
        .icon-close {
        	position: absolute;
        	right: 16px;
        	top: 15px;
        	width: 20px;
        	height: 20px;
        	background: url(../../assets/i/icon-close.svg) center center no-repeat;
        	background-size: 15px auto;
            &:hover {
                opacity: .8;
            }
        }
    }
    .modal-body {
        background: #fff;
        padding: 20px 30px 10px 30px;
        .blue-txt {
			font-size: 18px;
			color: #0c3162;
			line-height: 22px;
			margin-bottom: 2px;
			    font-weight: normal;
		}
		.gray-txt {
			font-size: 15px;
			color: #a1a3a6;
		}
        .use-customer {
        	padding-bottom: 23px;
        	border-bottom: 2px solid  #e6e6e6;
			.left-area {
				float: left;
			}
			.right-search {
				float: right;
				.search-boxs {
					.search {
						.icon-search {
							background-size: 23px auto;
						}
						.inputs {
							input {
								&::-webkit-input-placeholder {
								font-style: italic;
							      	color: #9b9b9b;
							    }
							    &:-moz-placeholder {
							    	font-style: italic;
							      	color: #9b9b9b;
							    }
							    &::-moz-placeholder {
							    	font-style: italic;
							      	color: #9b9b9b;
							      	opacity: 1;
							    }
							    &:-ms-input-placeholder {
							    	font-style: italic;
							      	color: #9b9b9b;
							    }
							}
						}
					}
				}
			}
        }

    	.btn-blue {
         min-width: 110px;
         font-size: 14px;
         &.disabled {
          opacity: 0.4;
          cursor: default;
        }
      }
        .create-boxs {
        	padding: 25px 0 20px 0;
        	.quation-items {
        		li {
        			em {
        				font-style: normal;
        			}
        		}
        	}
        }
    }
    .modal-footer {
        background: #fff;
        border: none;
        padding: 0;
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        .btn-wrap {
        	float: right;
        	margin: 0 30px 25px 0;
        	.btn-circle {
        		margin-left: 10px;
        		min-width: 110px;
        		font-size: 14px;
        	}
        }
    }
}

.quation-items {
	margin-top: 20px;
  	box-sizing: border-box;
  	li {
	    width: 23.2%;
	    height: 49px;
	    float: left;
	    padding-right: 2.4%;
	    margin-bottom: 12px;
	    position: relative;
	    &:nth-child(4n+4) {
	      padding-right: 0;
	    }
	    &>label {
	      font-size: 11px;
	      font-weight: 900;
	      text-align: left;
	      color: #95989a;
	      display: block;
	      line-height: 13px;
	      overflow: hidden;
	      height: 13px;
	      em {
		      color: #f86708;
		      padding: 0 7px 0 3px;
	      }
	      &::before {
		      display: none;
	      }
	      i {
		      display: inline-block;
		      width: 15px;
		      height: 13px;
		      background: url("../../assets/i/warning.svg");
		      background-size: 15px 13px;
		      vertical-align: middle;
	      }
	    }
	    .inputs {
	      margin-top: 3px;
	      width: 100%;
	      height: 32px;
	      font-size: 15px;
	      border-bottom: solid 0.5px #c0c6cb;
	      padding: 0;
	      input {
		      height: 32px;
		      line-height: 32px;
		      font-size: 15px;
	      }
	    }
	    .control-input {
	      margin-top: 3px;
	      width: 100%;
	      height: 30px;
	      line-height: 30px;
	      font-size: 15px;
	      border: none;
	      font-family: 'LatoRegular';
	      border-bottom: solid 1px #c0c6cb;
	      outline: none;
	    }
	    .dropdown-default {
	      margin-top: 5px;
	      width: 100%;
	      height: 30px;
	      line-height: 30px;
	      font-size: 15px;
	      border: none;
	      font-family: 'LatoRegular';
	      border-bottom: solid 1px #c0c6cb;
	      outline: none;
	      .dropdown-txt {
		      background: transparent;
		      height: 30px;
		      line-height: 30px;
		      padding: 0;
		      display: block;
		      width: 100%;
		      color: #95989a;
		      .icon-arrow-down {
		        top: 40%;
		      }
	      }
	    }
	    .group {
	      margin-top: 3px;
	      height: 30px;
	      overflow: hidden;
	      width: 100%;
	      .radio-wrap,.checkbox-wrap {
		      float: left;
		      margin-top: 10px;
		      margin-right: 18px;
	      }
	    }
	    .add-btn {
	      display: block;
	      position: absolute;
	      right: 9%;
	      top: 22px;
	      width: 27px;
	      height: 27px;
	      background: #fff;
	      span {
		      display: block;
		      width: 23px;
		      height: 23px;
		      background: #0066ad;
		      border-radius: 4px;
		      text-align: center;
		      line-height: 21px;
		      color: #fff;
		      font-size: 22px;
		      font-weight: bold;
	      }
	    }
	}
}
